<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.spam_analysis</id>
	<name>Spam Score Analysis</name>
	<description>This plugin provides extra insight about how Cerb's anti-spam system is making filtering decisions. It adds a new 'Spam Analysis' tab when displaying ticket profiles.</description>
	<author>Webgroup Media, LLC.</author>
	<version>1.3.0</version>
	<link>http://www.cerbweb.com/book/latest/plugins/cerberusweb.spam_analysis.html</link>
	<image>plugin.png</image>
	
	<!-- Requirements -->

	<requires>
		<app_version min="8.2" max="8.2.99" />
	</requires>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="8.2.0" />
	</dependencies>

	<!-- Extensions -->
	
	<extensions>

		<!-- Ticket Tabs -->
		
		<extension point="cerberusweb.ui.context.profile.tab">
			<id>spamanalysis.tab.ticket</id>
			<name>Spam Analysis Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChSpamAnalysisTicketTab</name>
			</class>
			<params>
				<param key="uri" value="spam_analysis" />
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.ticket" />
					</value>
				</param>
				<param key="title" value="spamanalysis.ui" />
			</params>
		</extension>
		
	</extensions>
</plugin>
